* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
}

.mainHeading {
  text-align: center;
  margin: 20px 0px;
  color: goldenrod;
}

.resumeContainer {
  max-width: 600px;
  height: 900px;
  margin: 20px auto;
  border: 2px solid gray;
  background-color: #f9f6e6;
  border-radius: 5px;
}

.resumeTop {
  height: 200px;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 60px;
  background-color: rgba(237, 204, 144, 0.4);
}

.resumeBottom {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.resumeTop h1 {
  color: black;
}

.resumeTop h4 {
  color: rgb(61, 58, 58);
  font-weight: lighter;
}

.resumeTop img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px solid goldenrod;
  box-shadow: 5px 5px 5px rgba(107, 107, 107, 0.4);
}

.resumeTop img:hover {
  transform: scale(1.1);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resumeLeft {
  width: 50%;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0;
}

.resumeRight {
  width: 40%;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.innerContainer p {
  color: rgb(61, 58, 58);
  padding: 3px;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.school,
.college,
.university {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.skills li {
  margin-top: 3px;
  color: rgb(61, 58, 58);
}

.profile p {
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4px;
}

h2,
h3 {
  color: rgb(193, 139, 3);
  margin-bottom: 8px;
}

h2 {
  font-size: 1.4rem;
}

.toggleButton {
  background-color: black;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.toggleButton:hover {
  background-color: black;
}

.hidden {
  display: none;
}

.bold {
  text-transform: capitalize;
  font-weight: bold;
}

/* Resume form */
.formContainer {
  margin: 50px auto;
  max-width: 600px;
  border: 2px solid black;
}

#photoInput {
  margin: 8px 0;
}

.formContainer h1 {
  text-align: center;
  margin-bottom: 2px solid gray;
  padding: 10px;
  color: rgb(61, 58, 58);
}

form {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

legend {
  text-align: center;
  font-size: 2rem;
  color: rgb(52, 52, 52);
  margin: 10px 0;
}

label {
  display: flex;
  flex-direction: column;
  color: rgb(54, 53, 53);
}
input[type="text"],
[type="email"],
[type="number"],
[type="date"],
select,
[type="tel"] {
  height: 30px;
  padding: 5px;
  border: 2px solid rgb(203, 201, 201);
  margin: 0.7em 0;
}

.button {
  background-color: rgb(36, 35, 35);
  color: white;
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px auto;
}

.button:hover {
  background-color: black;
}

/* Dynamically produced Resume */
.outputResume {
  max-width: 600px;
  height: 900px;
  margin: 50px auto;
  border: 2px solid gray;
  background-color: #f9f6e6;
  border-radius: 5px;
}

#skillInput {
  border: none;
  background-color: rgb(240, 229, 229);
  border-radius: 5px;
  padding: 10px;
}

.skillButtonContainer {
  display: flex;
  gap: 10px;
}

.outerBtnContainer {
  margin: 20px auto;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  background-color: #f9f6e6;
  padding: 20xp 0;
  max-width: 600px;
}
.outerBtnContainer .button {
  margin-left: 30px;
}

/* responsive design  */
@media screen and (min-width: 501px) and (max-width: 768px) {
  .conatiner {
    /* width: 400px; */
    height: 100vh;
  }

  .resumeTop {
    padding: 0 40px;
  }

  .innerContainer p {
    font-size: 0.85rem;
    padding: 4px;
    color: rgb(61, 58, 58);
  }

  .resumeTop h1 {
    font-size: 32px;
  }

  .resumeTop {
    height: 170px;
  }

  .resumeTop img {
    height: 100px;
    width: 100px;
  }

  /* form responsiveness  */
  input[type="text"],
  [type="email"],
  [type="number"],
  [type="date"],
  select,
  [type="tel"] {
    height: 30px;
    padding: 5px;
    border: 2px solid rgb(203, 201, 201);
    margin: 1.1em 0;
  }

  legend {
    font-size: 28px;
  }
}
/* responsiveness at range of width:320px and 500px   */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .resumeBottom {
    padding: 0 26px;
    gap: 30px;
  }

  .resumeTop {
    height: 140px;
    gap: 40px;
    padding: 0 50px;
  }

  .resumeTop h1 {
    font-size: 20px;
  }

  .innerContainer p {
    font-size: 0.65rem;
  }

  h2,
  h3 {
    font-size: 0.9rem;
  }
  .education {
    gap: 25px;
  }

  .toggleButton {
    height: 20px;
    width: 60px;
    font-size: 0.55rem;
  }

  .skills li {
    font-size: 0.6rem;
  }

  .resumeTop img {
    height: 90px;
    width: 90px;
    border: 4px solid goldenrod;
  }

  .toggleButton {
    height: 25px;
    width: 80px;
  }

  .profile p {
    line-height: 18px;
    font-size: 0.65rem;
  }

  /* formContainer responsiveness */
  .formContainer h1 {
    font-size: 25px;
  }

  legend {
    font-size: 26px;
    margin: 10px 0;
  }

  .outerBtnContainer button {
    width: 90px;
  }

  .skillButtonContainer button {
    font-size: 11px;
    height: 32px;
    padding: 3px;
  }
}
