
/* ----------------------- Styling for conatiner --------------------------*/  




/* .generalHeading {
    text-align: center;
    text-shadow:2px 2px 1px red;
    font-size: 50px;
} */

#container {
   height:800px;
   width: 550px;
   border-radius:20px;
   border:10px solid #075758;
   
   position:relative;
   
   margin:auto;
   display: flex;
   align-content: center;
} 

 /* ------------------------------- Styling for pn(div1) ----------------------------------------*/  
/* Profile */
  #profile {
    
    height:170px;
    width:550px;
    background-color:#075758;
    
    position:absolute;
    top:30px
    
}
/* Student text */
#status{

    font-size:small;
    font-family: italic;
    position: relative;
    bottom:10px
} 
/* My name */
#name {
    
    display:inline-block; 
    position:relative;
    
    left:70px;
    bottom:8px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:bisque;
}
/* style for picture */
 #pic {
    border:4px solid white;
    border-radius: 25px;
    height:130px;
    width:130px;
    position: relative;
    top:20px;
    left:35px
    
} 

/* ------------------------------ Styling for my information(div2) ------------------------------- */

 #info {
    position:relative;
    border-radius: 10px;
    z-index:0;
    width:230px;
     height: 800px;
     
     background-color:#d7d8d8;
}  

 .heading {
    position: relative;
    top:230px;
    left:40px;
    font-family: 'Arial Narrow';
    font-weight:550;
}

#para {
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top:220px;
    left:40px;
    font-size: 10px;
    
}

.contact {
    position: relative;
    top:270px;
    left:40px;
    font-family: 'Arial Narrow';
    font-weight:550;
}

#num {
    font-size:9px;
    font-weight: 400;
}
#email {
    font-size:10px;
    font-weight: 400;
    position: relative;
    bottom:8px
    
}

#logo{
    font-size:10px;
    font-weight: 400;
    position: relative;
    bottom:5px;

}  

/* -----------------------------   Styling for skills part in html -------------------------  */
#skills {
    height:800px;
    width: 320px;
     background-color: aliceblue;
 
}

#eduImg {
    position: relative;
    top:220px;
    left: 30px;
    font-weight:900 ;
    display: inline;

}

#eduP {
    position: relative;
    top:205px;
    left: 30px;
    font-weight: 900;
}
.uni {
    position: relative;
    top:205px;
    left: 47px;
    font-size:smaller;
    font-weight: 900;

}

.u { 

    padding:4px ;
    font-weight: 100;
    font-size: small;
    
} 

 .nums {
    font-size: x-small;
}

.lang{
    position: relative;
    top:206px;
    left: 30px;
    font-weight: 900;

}

.lInfo {
    position: relative;
    left: 20px;
    bottom:5px;
    font-weight: 100;
    font-size: small;
}

.comSkills {
    position: relative;
    top:205px;
    left: 30px;
    font-weight: 900;

    
}

.sk {
    font-size: small;
    font-weight: 100;
    position: relative;
    top: 215px;
    left: 47px;
 } 

  #exImg {
    position: relative;
    top: 230px;
    left: 30px;
 }

 #ex {
    position: relative;
    top:216px;
    left: 30px;
    font-weight: 900;
 } 

   .exPara {
    font-size: small;
    font-weight: 100;
    position: relative;
    top: 220px;
    left: 49px;
 }  